.graph {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bar {
  fill: #2196F3;
  stroke: #0b17bb;
  stroke-width: 2px;
  cursor: pointer;

  &:hover {
    fill: #9b10ad;
  }
}